:root {
  --salmon: #fe816e;
  --tan-hide: #f88e6d;
  --atomic-tangerine: #ffa171;
  --oxford-blue: #323b4c;
  --silver: #cdcdcd;
  --galery: #efefef;
  --pattens-blue: #dff4ff;

  --primary-color: var(--salmon);
  --secondary-color: var(var--atomic-tangerine);

  --gray-light: var(--galery);
  --gray-dark: var(--silver);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: rgb(254, 129, 110);
  background: linear-gradient(
    90deg,
    rgba(254, 129, 110, 1) 0%,
    rgba(255, 161, 113, 1) 100%
  );
}

.main-wrapper {
  height: 100vh;
  display: grid;
  place-items: center;
}

.calculator-box {
  border-radius: 1em;
  height: 460px;
  width: 320px;
  display: grid;
  grid-template-rows: 2fr 4fr;
  box-shadow: 0px 20px 36px 16px rgba(0, 0, 0, 0.1);
}

.output {
  background: var(--oxford-blue);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--pattens-blue);
}

.output data {
  font-size: 3.5em;
  padding-right: 0.2em;
}

.input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.btn {
  display: grid;
  place-items: center;
  cursor: pointer;
  border: 0.5px solid var(--oxford-blue);
  font-size: 1.1em;
}

.btn:nth-child(17) {
  border-bottom-left-radius: inherit;
}

.btn-gray-dark {
  background: var(--silver);
}

.btn-secondary {
  background: var(--atomic-tangerine);
}

.btn-primary {
  background: var(--primary-color);
  border-bottom-right-radius: inherit;
}

.btn-gray-light {
  background: var(--galery);
}
